<!-- ===== Show Products ==== -->
<div class="">
    <!-- title -->
    <h2 class="text-center">Products</h2>
    <div class="products pt-5 pb-5">
        <!-- Single Products -->
        <div class="products__content" *ngFor="let product of products">
            <div>
                <img src="{{product.ProductImg}}" alt="Products__Img" class="products__img">
            </div>
            <div class="products__body">
                <h2>{{product.ProductName}}</h2>
                <p>{{product.ProductPrice}}</p>
                <span>{{product.AvailablePieces}}</span>
            </div>
        </div>
        <!-- end of Single Products -->
    </div>
</div>