<!-- ==== Order Details Page === -->
<div class="table-responsive">
    <!-- Table Order Details   -->
    <table class="table table-striped table-hover table-bordered caption-top table-responsive-md">
        <caption class="table-caption">Order Details</caption>
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">RegisterData</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.Id}}</td>
                <td>{{user.Name}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.Phone}}</td>
                <td>{{user.RegisterDate | date}}</td>
            </tr>
        </tbody>
    </table>
    <!-- end of Table Order Details   -->
</div>