<!-- Header -->
<header class="main-header mb-5">
  <div class="container">
    <div class="bunner">
      <!-- navbar -->
      <ul class="menu m-0 p-0">
        <li class="menu__item">
          <a class="link" aria-current="page" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="menu__item">
          <a class="link" routerLink="orders" routerLinkActive="active">Orders</a>
        </li>
        <li class="menu__item">
          <a class="link" routerLink="orders-details" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>